

.banner {

  color: #fff;
  padding: 50px 20px 0 5px;
  background-image: url(/img/back.svg), linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%); 
  background-size:100%;
  background-position: bottom;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  background-repeat: no-repeat;
}


.banner-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px 0px 0 50px;
  font-family: Roboto;
}


.logo {
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: 700;
}



.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.navigation li {
  margin: 0 15px;
}

a:hover, button:hover{

background-color: #8b929160;
border-radius: 7px;
}

a:hover{

padding: 5PX;

  }
  


.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}


.night-mode-toggle {
  position:relative;
  bottom: 10px;
}


.night-mode-toggle input[type="checkbox"] {
  display: none;
}



.night-mode-toggle label {
  width: 40px;
  height: 20px;
  background: #faf9c0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}



.night-mode-toggle label::after {
  content: '';
  width: 18px;
  height: 18px;
  background: #eff7e1;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

.night-mode-toggle input:checked + label::after {
  left: 21px;
}

.banner-content {
  display: flex;
  justify-content: space-around;
  /*padding: 20vh 10vw 0vh 10vw ;*/

  padding: 150px 60px 0px 100px;
}

.text-content {
  max-width: 40%;
  height: auto;
  margin-right:25px;
  
}

.text-content h1 {
  font-size: 2rem;
  font-family: Ubuntu;
  font-weight: 700;
  
}

.text-content p {
  font-size: 1rem;
  margin: 10px 0;
  font-family: Roboto;
}

.contact-button {
  padding: 10px 20px;
  background:#fff;
  color:#000;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: .8rem;
  font-weight: bold;
  font-family: Ubuntu;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .banner-content {
    flex-direction: column;
  }

  .text-content, .image-content {
    max-width: 100%;
    text-align: center;
    
  }
}
