.banner {
  box-sizing: border-box;
  padding: 40px;
  background-image: url("/img/back.svg"), linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%); /* Superponer la imagen SVG sobre el degradado */
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  color:#fff;
}



.banner.dark-mode {
  background-color: #333333; 
  color: #000000; 
}


.banner-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px 30px 30px;
  font-family: Roboto;

}


.logo {
  padding: 0 0 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Ubuntu;
 
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  font-size: .9rem;
  color: #fff;
}

.night-mode-toggle {

  position: left;
  padding: 0 0 17px 0;
 
}

.night-mode-toggle input[type="checkbox"] {
  display: none;
}

.night-mode-toggle label {
  width: 40px;
  height: 20px;
  background: #cccccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.night-mode-toggle label::after {
  content: '';
  width: 18px;
  height: 18px;
  background: #e9e9e9;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

.night-mode-toggle input:checked + label::after {
  left: 21px;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 40px 100px 80px;
}

.text-content {
  max-width: 40%;
}

.text-content h1 {
  font-size: 1.9rem;
  font-family: Ubuntu;
}

.text-content p {
  font-size: .9rem;
  font-family: Roboto;
  margin: 25px 0;
}

.contact-button {
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: .8rem;
  font-family: Roboto;
  font-weight: 600;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .banner-content {
    flex-direction: column;
  }

  .text-content, .image-content {
    max-width: 100%;
    text-align: center;
  }
}
