
<div class="banner">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">



  <header class="banner-header">
    <div class="logo">AP&P</div>
    <nav class="navigation">
      <ul>
        <li><a href="#">INICIO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">SERVICIOS</a></li>
        <li><a href="#">PROYECTOS</a></li>
        <li><a href="#">EQUIPO</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="night-mode-toggle">
      <input type="checkbox" id="darkModeToggle" (change)="toggleDarkMode()">
      <input type="checkbox" id="night-mode">
      <label for="night-mode"></label>
    </div>
  </header>

  <div class="banner-content">
    <div class="text-content">
      <h1>Mejora la comunicación con tus clientes y aumenta tus ventas</h1>
      <p>Tu visión, nuestro compromiso: creamos webs únicas para negocios únicos. Nuestra prioridad es tu negocio.</p>
      <button class="contact-button">CONTÁCTANOS</button>
    </div>
    <div class="image-content">
      <img src="/img/diseñoweb.png" alt="diseñoweb">
    </div>
  </div>
</div>
