<div class="card-content" [ngClass]="darkModeService.darkMode() ? 'color-light' : 'color-dark'">
  <div class="card-title">
    <h1>Aviso de privacidad</h1>
  </div>
  <div class="card-text">
    <p>
      En <strong>AP&P</strong>, respetamos su privacidad y nos
      comprometemos a proteger sus datos personales. Este Aviso de Privacidad
      describe cómo recopilamos, utilizamos y protegemos la información que nos
      proporciona a través de nuestro formulario de contacto.
    </p>

    <h2>1. Responsable del Tratamiento de sus Datos Personales</h2>
    <p>
      <strong>AP&P</strong>, es responsable del tratamiento
      de sus datos personales.
    </p>

    <h2>2. Datos Personales que Recopilamos</h2>
    <p>
      Recopilamos los siguientes datos personales a través de nuestro formulario
      de contacto:
    </p>
    <ul>
      <li>Nombre completo</li>
      <li>Correo electrónico</li>
      <li>Teléfono (opcional)</li>
      <li>Empresa (opcional)</li>
      <li>Asunto y mensaje</li>
    </ul>

    <h2>3. Finalidad del Tratamiento de Datos</h2>
    <p>
      Los datos personales que nos proporciona serán utilizados para los
      siguientes fines:
    </p>
    <ul>
      <li>Atender y responder a sus consultas, solicitudes o comentarios.</li>
      <li>Proporcionar la información o servicios que nos haya solicitado.</li>
      <li>
        Mantener comunicación para informarle sobre novedades, servicios o
        productos relacionados con nuestras soluciones TI, en caso de que así lo
        haya solicitado.
      </li>
    </ul>

    <h2>4. Transferencia de Datos Personales</h2>
    <p>
      No compartimos sus datos personales con terceros sin su consentimiento,
      salvo en los casos previstos por la ley o cuando sea necesario para
      cumplir con nuestras obligaciones legales.
    </p>

    <h2>5. Seguridad de sus Datos Personales</h2>
    <p>
      Implementamos medidas de seguridad técnicas, administrativas y físicas
      para proteger sus datos personales contra pérdida, uso indebido, acceso no
      autorizado, alteración y destrucción.
    </p>

    <h2>6. Derechos ARCO</h2>
    <p>
      Usted tiene derecho a acceder, rectificar, cancelar u oponerse (Derechos
      ARCO) al tratamiento de sus datos personales. Para ejercer estos derechos,
      puede contactarnos a través del correo electrónico
      <strong>[Correo Electrónico de la Empresa]</strong> o en la dirección
      física mencionada anteriormente.
    </p>

    <h2>7. Cambios en el Aviso de Privacidad</h2>
    <p>
      Nos reservamos el derecho de modificar este Aviso de Privacidad en
      cualquier momento. Las modificaciones se harán públicas a través de
      nuestra página web.
    </p>

    <h2>8. Contacto</h2>
    <p>
      Si tiene alguna pregunta o inquietud sobre este Aviso de Privacidad, puede
      contactarnos a través del correo electrónico
      <strong>[Correo Electrónico de la Empresa]</strong> o llamando al número
      <strong>[Número de Teléfono de la Empresa]</strong>.
    </p>
  </div>
  <div class="card-footer">
    <p>Fecha de última actualización: 16 de agosto de 2024</p>
  </div>
</div>
