:host {
  display: block;
}

.seccion-proyectos{
  background-color: #F4F4F4;
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14.06px;
}

h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 22.98px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
}

h2::after{
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  margin: 0 auto 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 2px;
}

.nombre{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: bold;
}

.seccion-proyectos{
  position: relative;

}

.botones {
  max-width: 1400px;
  margin: auto;
  margin-top: 80px;

  .boton {
    font-family: "Roboto", sans-serif;
    padding: 10px 70px;
    margin-right: 10px;
    border: none;
    background-color: var(--white-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 500;
    width: 100%;
    color: var(--dark-color);
  }
  @media screen and (min-width: 768px) {
    .boton {
      width: auto;
    }
    
  }

  .boton:hover{
    background-color: #d6d5d5;
    cursor: pointer;
    transition: .5s;
  }

  .boton-activo {
    background-color: #0092CF;
    font-weight: 300;
    color: var(--white-color);
  }

  .boton-activo:hover {
    background-color: #0679aa;
  }
}


.contenedor-carpeta{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 75px;

  .carpeta-fondo{
    width: 100%;
    background: white;
    border-top-right-radius: 50px;

    .carpeta{
      padding: 2rem;
      display: flex;
      flex-direction: column;
      overflow-x: scroll;
      background: var(--white-color);
      border-top-right-radius: 1rem;
    }

    @media screen and (min-width: 768px) {
      .carpeta {
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
      }
      
    }
  }
}

.celda {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 20px;
  p {
    margin-top: 10px;
  }
  .titulo-celda p{
    color: var(--dark-color)!important;
  }
}

@media screen and (min-width: 768px) {
  .celda {
    flex-basis: calc(50% - 20px); /* 2 -> 100% / 2 -> 50%*/
  }
  
}

@media screen and (min-width: 1280px) {
  .celda {
    flex-basis: calc(33.3% - 20px); /* 3 -> 100% / 3 -> 33.3%*/
  }
  
}

.etiqueta {
  text-align: center;
  width: 10rem;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--white-color);
  font-family: "Roboto", sans-serif;

  position: absolute;
  top: 90%;
  left: 93%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.etiqueta-web {
  background: var(--gradient-blue-270);
}

.etiqueta-diseño {
  background: var(--light-blue-color);
}

.img-celda {
  margin: 30px 20px 0 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.titulo-celda {
  margin-left: 30px;
}


.botones-circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;

  .boton-circulo {
    background-color: #d6d5d5;
    border-radius: 50%;
    border: none;
    width: 11px;
    height: 11px;
    margin: 5px;
  }

  .boton-circulo:hover {
    cursor: pointer;
    background-color: #b0b0b0;
    transition: .5s;
  }

  .boton-circulo-activo {
    background-color: rgba(0,109,173,1);
  }

  .boton-circulo-activo:hover {
    background-color: rgb(0, 76, 121);
  }
}
