<div class="seccion-proyectos">
    <div>
        <h2>proyectos</h2>
        <p align="center">Inspiración para tu próximo proyecto</p>
    </div>
    <div>
        <div class="botones">
            <button class="boton boton-activo">Ver Todos</button>
            <button class="boton ">Desarrollo Web</button>
            <button class="boton ">Desarrollo Móvil</button>
        </div>
        <div class="contenedor-carpeta">
            <div class="carpeta-fondo">
                <div class="carpeta">
                    @for (celda of [1,2,3,4,5,6]; track $index) {
                        <div class="celda">
                            <div class="img-celda">
                                <img class="img" src="img/image 11.png" alt="">
                            </div>
                            <div class="titulo-celda">
                                <p class="nombre">Proyecto #1</p>
                            </div>
                            <div class="etiqueta">
                                Móvil
                            </div>
                        </div>
                    }
                </div>
                <div class="botones-circulo">
                    <button class="boton-circulo boton-circulo-activo"></button>
                    @for (boton of [1,2,3,4]; track $index) {
                        <button class="boton-circulo"></button>
                    }
                </div>
            </div>
        </div>
    </div>
    
</div>