:host {
  display: block;
}

.servicios__content {
  margin: 2rem auto;
}

.section-text {
  margin-bottom: 2rem;
}
.section-headers {
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .btn {
    padding: 1rem 1rem!important;
    border-radius: 0;
    box-shadow: none;
  }
  .btn:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .btn:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .btn.active {
    background: var(--gradient-blue-270);
    color: var(--light-color);
  }
}

@media screen and (min-width: 576px) {
  .servicios__content {
    margin: 3rem auto;
  }

  .buttons {
    flex-direction: row;
    .btn {
      padding: .5rem 0!important;
      width: 100%;
    }
    .btn:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 5rem;
      border-bottom-left-radius: 5rem;
    }
  
    .btn:last-child {
      border-bottom-left-radius: 0;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem;
    }
  }
  
}

@media screen and (min-width: 768px) {
  .servicios__content {
    margin: 4rem auto;
  }
}