<div class="seccion-footer">    
    
    <div class="empresa">
        <p>AP&P</p>
    </div>

    <div class="navbar">
        <p>inicio</p>
        <p>nosotros</p>
        <p>servicios</p>
        <p>proyectos</p>
        <p>equipo</p>
        <p>contacto</p>
        <p>aviso de privacidad</p>
    </div>

    <div class="group">
        <p class="pinacomp">pinacomp</p>
        <p class="panther">panther</p>
    </div>

    <img class="facebook" src="/img/facebook.svg" alt="">
    <img class="tiktok" src="/img/tiktok.svg" alt="">
    <img class="img-policies" src="/img/profeco.svg" alt="">

    <div class="policies">
        <p>Todos los derechos reservados</p>
        <p>Softpanther community S.A. de C.V. 2024</p>
    </div>

</div>