<div class="inicio">
    <app-inicio-banner class="bg-gradient-blue-270"></app-inicio-banner>
    <!-- <app-banner-parallax></app-banner-parallax> -->
    <!-- <app-marcas></app-marcas> -->
    <!-- <app-nues-adn></app-nues-adn> -->
    <!-- <app-banner-parallax></app-banner-parallax> -->
    <app-sobre-nosotros></app-sobre-nosotros>
    <app-servicios></app-servicios>
    <app-banner-parallax></app-banner-parallax>
    <app-proyectos></app-proyectos>
    <!-- <app-banner-parallax></app-banner-parallax> -->
    <app-miembros></app-miembros>
    <app-contacto></app-contacto>
</div>
