:host {
    display: block;
}

.banner {
    position: relative;
    display: block;
    height: 100vh;
}

.banner__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    height: 100%;

    .banner__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        color: var(--light-color);
    }

    .banner__frame, .banner__text {
        z-index: var(--z-index-10);
        z-index: var(--z-index-10);
    }

    p.banner__text {
        margin: 0 0 1rem 0;
    }

    .btn {
        color: var(--light-color);
        margin: 1rem 0;
    }
}

@media screen and (min-width: 768px) {
    .banner__content {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;

        .banner__text {
            grid-column: 1 / 2;
            text-align: start;
            justify-content: center;
        }

        .banner__frame {
            grid-column: 2 / 3;
        }
    }
}

@media screen and (min-width: 768px) {
    .btn {
        max-width: fit-content;
        margin: 3rem 0
    }
    .banner__title {
        font-size: 2.5rem;
    }
    p.banner__text {
        font-size: 1.3rem;
    }
}

.wave_1, .wave_2 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.wave_1 {
    z-index: var(--z-index-0);
}

.wave_2 {
    z-index: var(--z-index-1);
}
