
<div [className]="'banner ' + getColorClass()">

  <header class="banner-header">
    <div class="logo">AP&P</div>
    <nav class="navigation">
      <ul>
        <li><a href="#">INICIO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">SERVICIOS</a></li>
        <li><a href="#">PROYECTOS</a></li>
        <li><a href="#">EQUIPO</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="night-mode-toggle">
      <input type="checkbox" id="darkModeToggle" (change)="toggleDarkMode()">
      <input type="checkbox" id="night-mode" (change)="toggleDarkMode()">
      <label for="night-mode"></label>
    </div>
  </header>

  <div class="banner-content">
    <div class="text-content">
      <h1>Mejora la comunicación con tus clientes y aumenta tus ventas</h1>
      <p>Tu visión, nuestro compromiso: creamos webs únicas para negocios únicos. Nuestra prioridad es tu negocio.</p>
      <button class="contact-button" (click)="test()">CONTÁCTANOS</button>
    </div>
    <div class="image-content">
      <img src="/img/diseñoweb.png" alt="diseñoweb">
    </div>
  </div>
</div>
