:host {
    display: block;
    height: 100vh;
}

.banner__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    height: 100%;

    .banner__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        z-index: var(--z-index-10);
    }

    p.banner__text {
        margin: 0 0 1rem 0;
    }

    .btn {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 768px) {
    .banner__content {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;

        .banner__text {
            grid-column: 1 / 2;
            text-align: start;
            justify-content: center;
        }

        .banner__frame {
            grid-column: 2 / 3;
        }
    }
}


iframe {
    border: none;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .btn {
        max-width: fit-content;
        margin: 3rem 0
    }
    .banner__title {
        font-size: 2.5rem;
    }
    p.banner__text {
        font-size: 1.3rem;
    }
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url('/img/inicio-banner/background.svg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: var(--z-index-0);
}

@media screen and (min-width: 768px) {
    .waves {
        height: 100%;
    }   
}