<div class="seccion-nues-adn">

    <div class="titulo">
        <h2>nuestro adn</h2>
        <p align="center">Nuestros secretos para el éxito</p>
    </div>

    <div class="features">

        <div class="tarjeta">
            <img class="img-tarjeta" src="img/image 10.png" alt="">
            <P class="subtitulo">Innovación constante</P>
            <p class="info-tarjeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="tarjeta">
            <img class="img-tarjeta" src="img/image 10.png" alt="">
            <P class="subtitulo">Personalización</P>
            <p class="info-tarjeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="tarjeta">
            <img class="img-tarjeta" src="img/image 10.png" alt="">
            <P class="subtitulo">Transparencia y honestidad</P>
            <p class="info-tarjeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="tarjeta">
            <img class="img-tarjeta" src="img/image 10.png" alt="">
            <P class="subtitulo">Diseño continuo</P>
            <p class="info-tarjeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="tarjeta">
            <img class="img-tarjeta" src="img/image 10.png" alt="">
            <P class="subtitulo">Diseño continuo</P>
            <p class="info-tarjeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

    </div>

</div>