:host {
  display: block;
}

.square-container {
  position: relative;
  width: 100%; /* Ajusta según el contenedor padre */
  padding-top: 100%; /* Esto asegura una relación 1:1 */
}

.square-content, .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}