:host {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem; 
}

.content-father {
  background-image: url(/img/backleft.svg), url(/img/backright.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

#encabezado {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;
  font-size: 2.5rem; 
}

#linea {
  width: 8%;
  height: 4px;
  background-image: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  margin-top: 2vh;
}

#ep {
  font-size: 1rem; 
  margin: 1% 0 0 0;
}

.content-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
  margin: 0;
  text-align: center;
}

.content-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}


.content-text #saludo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem; /* Rem */
}

.content-text #apodo, #nombre {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem; /* Rem */
}

.content-video {
  flex: 1;
  max-width: 25%; 
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

}

.content-video video {
  width: 80%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  border: 2px solid #00B8F1;
}

.content-text {
  text-align: start;
  justify-content: flex-start;
  flex: 1;
  max-width: 30%; 
  box-sizing: border-box;
}

#saludo {
  font-weight: 900;
  margin: 0%;
  text-align: start;
}

.identificacion {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem; /* Rem */
  margin: 0%;
}

#nombre, #apodo {
  margin: 0%;
}

#apodo {
  background-image: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#puesto {
  font-size: 1.5rem; 
  margin: 10px 0 0 0;
  background-image: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: start;
}

#descripcion {
  font-size: 1rem; 
  margin: 0;
  margin-top: 3%;
  width: 80%;
  text-align: start;
}

.contenedor-miembros {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  font-size: 1rem; 
}

.carrusel-wrapper {
  overflow: hidden;
  width: 60%;
  display: flex;
  justify-content: center;
}

.carrusel {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.2s ease-in-out;
}

.miembro {
  flex: 0 0 auto;
  margin: 0 10px;
}

.imagen-circular {
  width: 100px;
  height: 100px;
  border: 2px solid #00B8F1;
  border-radius: 50%;
}

.botones {
  margin: 0 0px 0 10px;
  cursor: pointer;
  z-index: 2;
}

.botones:hover {
  background-image: #20759c;
  transform: scale(1.2);
}

/*para moviles*/
@media (max-width: 723px) {

  .content-principal {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 5vh;
  }

  .content-sub {
    flex-direction: column;
    align-items: center;
  }

  .content-video,
  .content-text {
    max-width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .content-video {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .content-video video {
    margin: 0 auto;
  }

  .content-text {
    text-align: center;
    display: contents;
  }

  #saludo,
  .identificacion {
    text-align: center;
    width: 100%;
    
  }

  #nombre, #apodo {
    display: block;
    margin: 0 auto;
  }

  #apodo{
    text-align: center;
    align-items: center;
  }

  .contenedor-miembros {
    width: 100%;
    justify-content: center;
  }

  .carrusel-wrapper {
    width: 80%;
    justify-content: center;
  }

  .header {
    width: 100%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #encabezado {
    font-size: 2rem;
    padding: 0;
  }

  #linea {
    width: 50%;
    margin: 0 auto;
  }
  
  #descripcion {
    width: 90%;
    margin: 15px auto;
  }

  .content-father {
    background-size: 40%;
    background-position: relative;
    padding-top: 5vh;
  }
}

/*para moviles/tabletas*/
@media (max-width: 1023px) {
  
  .content-principal {
    height: auto;
    margin-top: 3vh;
  }

  .content-sub {
    flex-direction: column;
    align-items: center;
  }

 

  .content-video {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 15px 0;
    text-align: center;
    width: 100%;
  }

  .content-video video {
    margin: 0 auto;
    width: inherit;
    width: 60%; /* Ajusta el tamaño del video si es necesario */
  
  }

  .content-text {
    text-align: center;
    max-width: 90%;
    margin: 15px 0;
  }

  #saludo {
    text-align: center;
    width: 100%;
  }

  .identificacion {
    justify-content: center;
    width: 100%;
  }

  #puesto{
    
    text-align: center;
    margin: 10px 0;
  }

  #nombre, #apodo {
    display: block;
    margin: 0;
  }

  .contenedor-miembros {
    width: 90%;
    justify-content: center;
  }

  .carrusel-wrapper {
    width: 80%;
    justify-content: center;
  }


  #encabezado {
    font-size: 2.2rem;
    margin: 10px auto;
  }

  #linea {
    width: 30%;
    margin: 0 auto;
  }
  
  #descripcion {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .content-father {
    padding-top: 10vh;
  }
}


