<div class="miembros__section" data-aos="fade-in" data-aos-offset="200">
  <div class="miembros__content container">
    <div class="miembros__header">
      <h2 class="section-tilte">Equipo</h2>
      <p class="section-text text-center">
        La unión del éxito
      </p>
    </div>
    <div class="miembros__body">
      <div class="miembros__frame" data-aos="zoom-right" data-aos-duration="2000">
        <video id="video" class="miembros__video" width="100%" height="100%" autoplay preload="auto">
          <source [src]="miembroSeleccionado.video" type="video/mp4">
          Tu navegador/dispositivo no soporta el video.
        </video>
      </div>
      <div class="miembros__text" data-aos="fade-in">
        <h2 id="saludo">Hola</h2>
        <p class="fs-xxl" id="nombre">Soy {{ miembroSeleccionado.nombre }} <span class="fw-medium color-blue-gradient">({{ miembroSeleccionado.apodo }})</span></p>
        <p class="fs-xl fw-medium color-blue-gradient" id="puesto">{{ miembroSeleccionado.nombre }}</p>
        <p class="fs-lg" id="descripcion">{{ miembroSeleccionado.descripcion }}</p>
      </div>
    </div>
    <div class="miembros__footer">
      <app-miembros-menu [miembros]="miembros" (miembroSeleccionadoEmitter)="getMiembroSeleccionado($event)"></app-miembros-menu>
    </div>
  </div>
</div>