<div class="seccion">
    
    <div class="tarjeta">

        <div class="texto-nosotros">
            <h2>Sobre Nosotros</h2>
            <p>Somos una alianza de empresas expertas, dedicadas al desarrollo de paginas web y aplicaciones móviles, que busca digitalizar los sueños de sus clientes, pues convertir tu visión en una realidad digital efectiva y exitosa es nuestro objetivo.</p>
            <p>Nos esforzamos por superar las expectativas de nuestros clientes con cada proyecto, proporcionando soluciones que no solo son innovadoras, sino también funcionales y alineadas con tus objetivos.</p>
            <p>Contamos con expertos dedicados a todas las áreas que necesitas para tu éxito, cuyo lema es entregar un servicio de calidad.</p>
        </div>

        <div class="boton">
            <button>Conócenos</button>
        </div>
    </div>
    <img src="img/Group.svg" alt="">
</div>