:host {
  display: block;
}

.seccion-nues-adn{
  margin-top: 100px;
}

.barra{
  width: 100%;
}

h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 22.98px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

h2::after{
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  margin: 0 auto 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 2px;
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14.06px;
}

.features{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  overflow: scroll;
  align-items: center;
  clear: both;
  height: 450px;
  background: url("/img/barra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 100px;
  /*border: 1px solid #ccc;*/
}

@media screen and (min-width: 768px){
  .features{
    padding: 0px 20px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

.subtitulo{
  font-family: Ubuntu;
  color: #F4F4F4;
  font-size: 16px;
  font-weight: 700;
  line-height: 14.94px;
  text-align: center;  
}

.tarjeta{
  float: right;
  text-align: center;
  width: 15%;
  margin-top: 100px;
  flex: 0 0 calc(80% - 2rem);
  /*border: 1px solid #912828;*/
}

@media screen and (min-width: 768px){
  .tarjeta{
    flex: 0 0 calc(20% - 2rem);
  }
}

.img-tarjeta{
  width: 200px;
}

.info-tarjeta{
  color: #F4F4F4;
}

.color-dark{
  background-color: #333!important;
  color: #F4F4F4!important;
}

.color-light{
  background-color: #F4F4F4!important;
  color: #333!important;
}

