:host {
  display: block;
  position: relative;
  overflow: hidden;
}

.sobre_nosotros__content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sobre_nosotros__card {
  max-width: 800px;
  text-align: center;
  line-height: 1.25;
  z-index: var(--z-index-20);
  a {
    color: var(--light-color)!important;
  }
}

@media screen and (min-width: 768px) {
  .sobre_nosotros__card {
    text-align: left;
    padding: 2rem 3rem;
  }
}

.sobre_nosotros__buttons {
  text-align: center;
  .btn {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .sobre_nosotros__buttons {
    .btn {
      display: inline-block;
      margin-right: 1rem;
    }
  }  
}

.sobre_nosotros__bg{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  width: 100%;
  z-index: var(--z-index-0);
}