:host {
  display: block;
}

.seccion{
background-color: #F4F4F4;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tarjeta{
  background: #FFF;
  border-radius: 13px;
  width: 795px;
  height: 312px;
  padding: 45px;
}

h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 22.98px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

h2::after{
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  margin: 0 auto 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 2px;
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14.06px;
}

.boton{
  text-align: center;
}

button{
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  font-style: normal;
  color: #FFF;
  border: none;
  border-radius: 8px;
  height: 30.34px;
  width: 141.68px;
  margin-top: 30px;
  box-shadow: rgb(187, 185, 185) 0px 5px 6px;
  background: rgb(0,109,173);
  background: -moz-linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  background: linear-gradient(90deg, rgba(0,109,173,1) 0%, rgba(0,184,241,1) 50%, rgba(0,230,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006dad",endColorstr="#00e6dc",GradientType=1);
}

img{
  position: absolute;
  top: 50;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.color-dark {
  background-color: #333!important;
  .tarjeta{
    background: rgba(0, 0, 0, 0.2)!important;
    color: #f4f4f4!important;
    button{
      box-shadow: rgb(35, 35, 35) 0px 5px 6px;
    }
  }
}

.color-light {
  background-color: #f4f4f4!important;
  .tarjeta{
    color: #333!important;
  }
}
