<div class="sobre_nosotros__seccion">
  <div class="sobre_nosotros__content container">
    <h2 class="section-tilte">Sobre Nosotros</h2>
    <p class="section-text text-center">
      ¿Sabias que somos una alianza entre empresas expertas en soluciones
      tecnológicas?
    </p>
    <div class="sobre_nosotros__cards cards">
        <div class="sobre_nosotros__card card bg-white border-xl">
            <div class="card-content">
                <p>
                    Somos una alianza conformada por
                    un equipo de expertos en desarrollo web y móvil, diseño, y estrategia
                    digital, todos ellos comprometidos con tu éxito.
                </p>
            </div>
        </div>
        <div class="sobre_nosotros__frame">
            <ng-lottie [options]="options" width="100%"></ng-lottie>
        </div>
        <div class="sobre_nosotros__card card bg-white border-xl">
            <p>
                Para nosotros cada proyecto es único, por ello nos enfocamos en comprender
                tus necesidades y objetivos específicos.
              </p>
        </div>
    </div>
    <p class="text-center">¿Quieres saber que nos hace diferente?</p>
    <div class="sobre_nosotros__buttons text-center">
      <a
        class="btn bg-gradient-blue-270 color-light"
        [routerLink]="['/nosotros']" 
        >Conócenos</a
      >
    </div>
  </div>
</div>
