:host {
  display: block;
}

.section-text {
  max-width: 400px;
  margin: 0 auto;
}

.sobre_nosotros__seccion {
  margin: 2rem 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  gap: 1rem;
  margin: 4rem 0;
}


@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.sobre_nosotros__card:nth-child(1) .card,
.sobre_nosotros__card:nth-child(3) .card {
  position: relative;
}

.sobre_nosotros__card:nth-child(1) .card::after,
.sobre_nosotros__card:nth-child(3) .card::after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white-color);
}

.sobre_nosotros__card:nth-child(1) .card::after {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  bottom: -1.5rem;
  left: 1rem;
}

.sobre_nosotros__card:nth-child(3) .card::after {
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
  top: -1.5rem;
  right: 1rem;
}

@media screen and (min-width: 768px) {
  .sobre_nosotros__card .card{
    margin-top: 25%;
  }

  .sobre_nosotros__card:nth-child(1) .card::after {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    left: auto;
    bottom: auto;
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .sobre_nosotros__card:nth-child(3) .card::after {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    right: auto;
    top: auto;
    left: -1.5rem;
    bottom: 50%;
    transform: translateY(50%);
  }
}