/* src/styles.css */
.inicio.dark-mode {
  background-color: #ffffff; /* Fondo oscuro */
  color: #000000; /* Texto claro */
}

.inicio.dark-mode .nav button {
  color: #000000; /* Color de texto de los botones en modo nocturno */
}