<section class="contact-section" data-aos="fade-in" data-aos-offset="200">
    <div class="section-content">
        <div class="contact-header">
            <h2>Contacto</h2>
            <p>Contáctanos para asegurar tu éxito ¡Agenda tu cita!</p>    
        </div>
        <div class="contact-body">
            <div class="contact-form" data-aos="fade-in" data-aos-duration="1000">
                <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
                    <input formControlName="nombre" type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input formControlName="email" type="email" name="email" id="email" placeholder="Email">
                    <textarea formControlName="mensaje" name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..."></textarea>
                    <div class="contact-buttons">
                        <button class="send-button" type="submit">Enviar</button>
                        <a href="https://wa.me/15537215097?text=Hola%20[Nombre%20de%20la%20Empresa],%20me%20gustaría%20recibir%20más%20información%20sobre%20sus%20servicios." target="_blank" class="wp-button">
                            <div class="wp-icon"></div>
                        </a>
                    </div>
                    <div class="contact-privacy">
                        <a [routerLink]="['/aviso-privacidad']" >Aviso de privacidad</a> 
                    </div>
                </form>
            </div>
            <div class="contact-image" data-aos="zoom-right" data-aos-duration="2000">
                <app-lottie-lazy-component [options]="options"></app-lottie-lazy-component>
            </div>
        </div>
    </div>
</section>

<div
 [class]="{'active': isModalActived}"
 class="mensaje_enviado__modal">
    <div class="mensaje_enviado__modal-content">
        <div class="mensaje_enviado__modal-header">
            <button (click)="closeModal()" class="close-button">
                <img src="img/xmark-solid.svg" alt="">
            </button>
        </div>
        <div class="mensaje_enviado__modal-body">
            <h2>Mensaje enviado</h2>
            <!-- <ng-lottie [styles]="styles" [options]="optionsMessageSuccessfully" width="100%" height="100%" /> -->
            <p>¡Gracias por tu mensaje! Nos pondremos en contacto contigo lo más pronto posible.</p>
            <button (click)="closeModal()" class="modal-button">Continuar</button>
        </div>
    </div>
</div>