<section class="contact-section">
    <div class="section-content">
        <div class="contact-header">
            <h2>Contacto</h2>
            <p>Contáctanos para asegurar tu éxito ¡Agenda tu cita!</p>    
        </div>
        <div class="contact-body">
            <div class="contact-form">
                <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..."></textarea>
                    <div class="contact-buttons">
                        <button class="send-button" type="submit">Enviar</button>
                        <a href="https://wa.me/1XXXXXXXXXX" class="wp-button" type="whatsapp">
                            <div class="wp-icon"></div>
                        </a>
                    </div>
                    <div class="contact-privacy">
                        <a href="#">Aviso de Privacidad</a>
                    </div>
                </form>
            </div>
            <div class="contact-image">
                <img src="img/contact-image.png" alt="Contacto">
            </div>
        </div>
    </div>
</section>