<section [className]="'contact-section ' + getColorClass()">
    <div class="section-content">
        <div class="contact-header">
            <h2>Contacto</h2>
            <p>Contáctanos para asegurar tu éxito ¡Agenda tu cita!</p>    
        </div>
        <div class="contact-body">
            <div class="contact-form">
                <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
                    <input formControlName="nombre" type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input formControlName="email" type="email" name="email" id="email" placeholder="Email">
                    <textarea formControlName="mensaje" name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..."></textarea>
                    <div class="contact-buttons">
                        <button class="send-button" type="submit">Enviar</button>
                        <a href="https://wa.me/15537215097?text=Hola%20quiero%20más%20información" target="_blank" class="wp-button">
                            <div class="wp-icon"></div>
                        </a>
                    </div>
                    <div class="contact-privacy">
                        <a [routerLink]="['/aviso-privacidad']" >Aviso de privacidad</a> 
                    </div>
                </form>
            </div>
            <div class="contact-image">
                <img src="img/contact-image.png" alt="Contacto">
            </div>
        </div>
    </div>
</section>