:host {
  display: block;
  font-family: Roboto;
}
 img {
  max-width: 100%;
 }

.seccion-footer {
  padding: 40px 10px;
}

.fondo {
  background: linear-gradient( 90deg, rgba(0, 109, 173, 1) 0%, rgba(0, 184, 241, 1) 50%, rgba(0, 230, 220, 1) 100%); 
}

@media (min-width: 768px) {
  .fondo {
    background: url("/img/Rectangle 16.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .seccion-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

@media (min-width: 1020px) {
  .fondo {
    background-position: top;
  }
  .seccion-footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}

 .empresa {
  font-family: Ubuntu;
  font-weight: bolder;
  font-size: x-large;
  margin-top: 20px;
  color: #f4f4f4;
  text-align: center;
}

@media (min-width: 768px) {
  .empresa {
    text-align: left;
  }
}

.navbar {
  text-align: center;
}

@media (min-width: 768px) {
  .navbar {
    text-align: left;
  }
}

.navbar, .group {
  display: flex;
  flex-direction: column;
}

.navbar a,
.group a {
  color: #f4f4f4;
  text-decoration: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .group {
    flex-direction: column;
  }

  .softpanther {
    margin-top: 20px;
  }
}

@media (min-width: 1020px) {
  .group {
    flex-basis: 50%;
  }
}

.group a {
  font-size: x-large;
  font-weight: bold;
}

.iconos {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
 .iconos {
   margin-bottom: 0;
 } 
}

@media (min-width: 1020px) {
  .iconos {
    text-align: left;
  }
}

.icono img {
  width: 20px;
  margin: 0 10px;
}

.img-policies {
  display: flex;
  justify-content: center;
}

.img-policies img {
  max-width: 200px;
}

.policies {
  text-align: center;
  color: #f4f4f4;
  font-size: x-small;
}

hr {
  background: #f4f4f4;
  margin: 40px 30px 40px 30px;
  border: none;
  height: 2px;
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
}