<div class="fondo">
    <div class="seccion-footer">     
        <div class="lado-izquierdo">
            <div class="empresa">
                <p>AP&P</p>
            </div>
        
            <div class="navbar">
                <a [routerLink]="['/inicio']" >inicio</a>
                <a [routerLink]="['/nosotros']" >nosotros</a>
                <a [routerLink]="['/servicios']" >servicios</a>
                <a [routerLink]="['/proyectos']" >proyectos</a>
                <a [routerLink]="['/equipo']" >equipo</a>
                <a [routerLink]="['/contacto']" >contacto</a>
                <a [routerLink]="['/aviso-privacidad']" >aviso de privacidad</a>
            </div>
        </div>
        
        <hr>
    
        <div class="centro">
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="mailto:desarrollo.apyp@gmail.com">desarrollo.apyp&#64;gmail.com</a>
                <br>
                <a href="https://wa.me/15537215097?text=Hola%20[Nombre%20de%20la%20Empresa],%20me%20gustaría%20recibir%20más%20información%20sobre%20sus%20servicios.">+52 1 55 7403 8658</a>
            </div>
            <div class="group">
                <div class="pinacomp">
                    <a href="#" target="_blank" class="pinacomp">pinacomp</a>
                    <div class="iconos">
                        <a class="icono" href="https://www.facebook.com/profile.php?id=61557975279821" target="_blank">
                            <img class="facebook" src="/img/facebook.svg" alt="imagen de facebook">
                        </a>
                    
                        <a class="icono" href="https://www.tiktok.com/@pinacomp" target="_blank">
                            <img class="tiktok" src="/img/tiktok.svg" alt="imagen de tiktok">
                        </a>
                    </div>
                </div>
                <div class="softpanther">
                    <a href="#" target="_blank" class="panther">panther</a>
                    <div class="iconos">
                        <a class="icono" href="#" target="_blank" disabled>
                            <img class="facebook" src="/img/facebook.svg" alt="imagen de facebook">
                        </a>
                    
                        <a class="icono" href="#" target="_blank" disabled>
                            <img class="tiktok" src="/img/tiktok.svg" alt="imagen de tiktok">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="lado-derecho">
            <div class="img-policies">
                <img src="/img/profeco.svg" alt="imagen de profeco">
            </div>
        
            <div class="policies">
                <p>Todos los derechos reservados.</p>
                <p>AP&P S.A. de C.V. 2024</p>
            </div>
        </div>
    </div>
</div>